<!-- <h2>{{ hero.name | uppercase }} details</h2>
<h2><span>id:</span>{{hero.id}}</h2>
<h2><span>name:</span>{{hero.name}}</h2> -->
<!-- <div>
  <label for="name"></label>
  <input type="text" placeholder="name" [(ngModel)]= hero.name>
</div> -->
<h2>my heros</h2>
<ul  class = 'heroes'>
  <li *ngFor="let hero of heroes" >
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
      <button class="delete" title="delete hero"
  (click)="delete(hero)">x</button>
  </li>
  <!-- [class.selected]="hero === selectedHero" 
  (click)="onSelect(hero)">
  <span class="badge">{{hero.id}} 
  </span> 
  {{hero.name}}</li> -->
</ul>
<!-- <div *ngIf="selectedHero">
<h2>{{ selectedHero.name | uppercase }}</h2>
<div><span>id:</span>{{selectedHero.id}}</div>
<div>
  <label for="selectedHero">name: <input [(ngModel)]="selectedHero.name" placeholder="name"></label>
</div>
</div> -->
<app-hero-detail [hero]='selectedHero'></app-hero-detail>

<div>
    <label>Hero name:
      <input #heroName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(heroName.value); heroName.value=''">
      add
    </button>
  </div>